﻿<EditForm Model="@transaction" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="amount">Montant</label>
    <InputNumber id="amount" @bind-Value="transaction.Amount" />

    <label for="description">Description</label>
    <InputText id="description" @bind-Value="transaction.Description" />

    <button type="submit">Valider</button>
</EditForm>