﻿@page "/"

<PageTitle>test</PageTitle>

<h1>Historique des transactions</h1>

<p>Solde actuel : @amount €</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Numero</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Montant</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var transaction in transactions)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.DateTime.ToString()</td>
                <td>@transaction.Description</td>
                <td>@transaction.Amount €</td>
            </tr>
        }
    </tbody>
</table>